

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Repair Ticket</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/css/landing-page.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Oswald|Special+Elite" rel="stylesheet">
</head>

<body>
    <div id="pageHeader">
        <h2>FAQ</h2>
    </div>   
    <div>
        <p>
            <strong>
                How can I create an account with Repair Ticket?
            </strong>
           
            <br />
            Click on the Login button. If you are new to Repair ticket, click Register to create a new account, and you'll be all set!
            <br />

           <br />      
            <strong>
                How do I create a new Repair Ticket?
            </strong>      
            <br />
            Once you've logged in, simply click create a new ticket and a new page should appear to allow you to create a new brand repair ticket. 
            <br />    
            <br />

            <strong>
                How will the shop identify me when I come into your shop to pick up my repaired item?
            </strong>
            <br />
            Simply print out completed repair ticket and bring it with you when dropping off.
            <br />   
            <br />
 
            <strong> 
            How often are items submitted for repairs?
            </strong>
            <br />
            Our repair technician picks up every Friday
            <br />  
            <br />

            <strong>
            When can I expect my items to be ready?
            </strong>
            <br />
            This depends on the specific work that your guitar or amp needs. This will be up to the repairman to determine. 
            <br />    
            <br />

            <strong> 
            How can I expect to be notified?
            </strong>
            <br />
            You will receive an email from the repair technician 3-5 business days after pickup. This email will contain a description of the required work, cost estimate, and time estimate.
            <br />    
            <br />

            <strong> 
            What should I do after I've been notified?
            </strong>
            <br />
            Reply to the email either approving the estimate or feel free to ask further questions regarding the repair.
            Bring full payment at time of pickup.  Payment can be made via cash, credit card, or Paypal.
            <br />
            <br />    
            <strong>
                For technical questions email here sales@guitarriot.com
            </strong>
        </p>
    </div>
</body>
</html>
