<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Repair Ticket</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/css/landing-page.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Oswald|Special+Elite" rel="stylesheet">
</head>

<body>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Repair Ticket</h1>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a class="btn btn-default btn-lg" id="loginButton" href="~/Account/Login/"> <span class="network-name">Log In</span></a>
                            </li>
                            <li>
                                <div><a class="btn btn-default btn-lg" id="registerButton" href="~/Account/Register/"> <span class="network-name">Register</span></a></div>
                            </li>
                        </ul>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/Header-->


    <!-- Page Content -->
    <a name="services"></a>
    <!--.content First row-->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">About<br>Repair Ticket</h2>
                    <p class="lead">Repair Ticket was born out of the need to create a more efficient way to handle processing customer repair needs in a busy independent retail shop. Repair Ticket takes the middle man out of the equation and lets the customer and repair technician communicate directly. This allows the shop owner/retail worker more time to focus on other tasks. More importantly, the customer has a more personal interaction with the repair technician and a better experience overall with the repair process.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="~/Content/img/GRpic.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!--/.content First Row-->

    <!--/.content Second Row-->
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">About<br>Guitar Riot</h2>
                    <p class="lead">Guitar Riot is a brick and mortar store in downtown Cleveland that specializes in high quality, hand-made electric guitars, amplifiers, pedals, and more.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="~/Content/img/GRStaff.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!--/.content Second Row -->
    <!-- /.banner Contact Us Section -->


 
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>