@{
    Layout = null;
}
<!-- Bootstrap Core CSS -->
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="~/Content/css/landing-page.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans|Oswald|Special+Elite" rel="stylesheet">


<div class="container">
    <div class="row">
        <div class="heading-title text-center">
            <h3 class="text-uppercase">Repair Ticket Team </h3>
            <p class="p-top-30 half-txt">Hard working individuals looking to grow in the Tech Industry  </p>
        </div>

        <div class="col-md-4 col-sm-4">
            <div class="team-member">
                <div class="team-img">
                    <img src="~/Content/img/brent.jpg" alt="team member" cla ss="img-responsive">
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <h4>Hi There !</h4>
                        <p>I love to introduce myself as a hardcore Web Designer.</p>
                    </div>
                    <div class="s-link">
                        <a href="https://www.linkedin.com/in/brent-ferguson/"><i class="fa fa-linkedin"></i></a>
                        <a href="https://github.com/brentfergie"><i class="fa fa-github"></i></a>      
                    </div>
                </div>
            </div>
            <div class="team-title">
                <h5>Brent Ferguson</h5>
                <span>Junior Software Developer</span>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="team-member">
                <div class="team-img">
                    <img src="~/Content/img/iris.jpg" alt="team member" class="img-responsive" />
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <h4>Hello World</h4>
                        <p>I love to introduce myself as a hardcore Web Designer.</p>
                    </div>
                    <div class="s-link">
                        <a href="https://www.linkedin.com/in/irishicks/"><i class="fa fa-linkedin"></i></a>
                        <a href="https://github.com/IrisMaeWCCI"><i class="fa fa-github"></i></a>      
                    </div>
                </div>
            </div>
            <div class="team-title">
                <h5>Iris M. Hicks</h5>
                <span>Junior Software Developer</span>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="team-member">
                <div class="team-img">
                    <img src="~/Content/img/rsz_1carriee.jpg" alt="team member" class="img-responsive">
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <h4>I love to design</h4>
                        <p>I love to introduce myself as a hardcore Web Designer.</p>
                    </div>
                    <div class="s-link">
                        <a href="https://www.linkedin.com/in/carrieryan10/"><i class="fa fa-linkedin"></i></a>
                        <a href="https://github.com/cryan10"><i class="fa fa-github"></i></a>      
                    </div>
                </div>
            </div>
            <div class="team-title">
                <h5>Carrie Ryan</h5>
                <span>Junior Software Developer</span>
            </div>
        </div>







    </div>


    <div class="container">
        <div class="row">



            <div class="col-md-4 col-sm-4">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/Content/img/lindsay.jpg" alt="team member" class="img-responsive">
                    </div>
                    <div class="team-hover">
                        <div class="desk">
                            <h4>I love to design</h4>
                            <p>I love to introduce myself as a hardcore Web Designer.</p>
                        </div>
                        <div class="s-link">
                            <a href="https://www.linkedin.com/in/lindsey-lowe/"><i class="fa fa-linkedin"></i></a>
                            <a href="https://github.com/lilolapin"><i class="fa fa-github"></i></a>      
                        </div>
                    </div>
                </div>
                <div class="team-title">
                    <h5>Lindsey Lowe</h5>
                    <span>Junior Software Developer</span>
                </div>
            </div>





            <div class="col-md-4 col-sm-4">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/Content/img/evonte.png" alt="team member" class="img-responsive">
                    </div>
                    <div class="team-hover">
                        <div class="desk">
                            <h4>I love to design</h4>
                            <p>I love to introduce myself as a hardcore Web Designer.</p>
                        </div>
                        <div class="s-link">
                            <a href="https://www.linkedin.com/in/evontedunn/"><i class="fa fa-linkedin"></i></a>
                            <a href="https://github.com/Evonte13"><i class="fa fa-github"></i></a>                          
                        </div>
                    </div>
                </div>
                <div class="team-title">
                    <h5>Evonte Dunn</h5>
                    <span>Junior Software Developer</span>
                </div>
            </div>











        </div>
    </div>
</div>





