@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="row">
            <div class="box">
                <div class="col-lg-6">
                    <hr>
                    <div class="col-lg-6 text-center">
                        <li>
                            <a href="about.html">
                                <img class="img-responsive" src="https://www.linkedin.com/in/IrisHicks/" alt="">My Linked In
                            </a>
                        </li>
                        <img src="~/Content/Iris.jpg" />
                        <h3>
                            Iris Hicks
                        </h3>
                    </div>
                    <div class="col-lg-6 text-center">
                        <img class="img-responsive" src="https://www.linkedin.com/in/carrieryan10/" alt="">
                        <img src="~/Content/Carrie.jpg" />
                        <h3>
                            Carrie Ryan
                            <small>Job Title</small>
                        </h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="row">
                <div class="box">
                    <div class="col-sm-12">
                        <hr>
                        <div class="col-lg-6 text-center">
                            <img class="img-responsive" src="https://www.linkedin.com/in/lindsey-lowe/" alt="">
                            <img src="~/Content/Lindsey.jpg" />
                            <h3>
                                Lindsey Lowe
                                <small>Job Title</small>
                            </h3>
                        </div>
                        <div class="col-lg-6 text-center">
                            <img class="img-responsive" src="https://www.linkedin.com/in/evontedunn/" alt="">
                            <img src="~/Content/Evonte.jpg" />
                            <h3>
                                Evonte Dunn
                                <small>Job Title</small>
                            </h3>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
</body>
</html>
