<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Repair Ticket</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/css/landing-page.css" rel="stylesheet">
    <link href="~/Content/css/OurTeam.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Oswald|Special+Elite" rel="stylesheet">
</head>

<html>
<body>


    <!-- Team Members Row -->
    <div class="row">
        <div class="col-lg-3 col-sm-6 text-center" id="pageHeader">
            <h2>Our Team</h2>
        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="~/Content/img/Iris.jpg" alt="">
            <h3>Iris Hicks</h3>
            <div>
                <a href="https://github.com/IrisMaeWCCI"> <i class="fa fa-github fa-fw"></i></a> IrisMaeWCCI
            </div>
            <div>
                <a href="https://www.linkedin.com/in/irishicks/"> <i class="fa fa-linkedin fa-fw"></i></a> IrisHicks
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="~/Content/img/Brent.jpg" alt="">
            <h3>Brent Ferguson</h3>
            <div>
                <a href="https://github.com/brentfergie"> <i class="fa fa-github fa-fw"></i></a> BrentFergie
            </div>
            <div>
                <a href="https://www.linkedin.com/in/brent-ferguson/"> <i class="fa fa-linkedin fa-fw"></i></a> Brent-Ferguson
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="~/Content/img/Lindsey.jpg" alt="">
            <h3>Lindsey Lowe</h3>
            <div>
                <a href="https://github.com/lilolapin"> <i class="fa fa-github fa-fw"></i></a> Lilolapin
            </div>
            <div>
                <a href="https://www.linkedin.com/in/lindsey-lowe/"> <i class="fa fa-linkedin fa-fw"></i></a> Lindsey-Lowe
            </div>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6 text-center" id="pageHeader">
        </div>
        <div class="col-lg-3 col-sm-6 text-center" id="pageHeader">
        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="~/Content/img/Carrie.jpg" alt="">
            <h3>Carrie Ryan</h3>
            <div>
                <a href="https://github.com/cryan10"> <i class="fa fa-github fa-fw"></i></a> cryan10
            </div>
            <div>
                <a href="https://www.linkedin.com/in/carrieryan10/"> <i class="fa fa-linkedin fa-fw"></i></a> CarrieRyan10
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="~/Content/img/Evonte.jpg" alt="">
            <h3>Evonte Dunn</h3>
            <div>
                <a href="https://github.com/Evonte13"> <i class="fa fa-github fa-fw"></i></a> Evonte13
            </div>
            <div>
                <a href="https://www.linkedin.com/in/evontedunn/"> <i class="fa fa-linkedin fa-fw"></i></a> EvonteDunn
            </div>
        </div>
    </div>
    <hr>

</body>
</html>
